@{
  Layout = "_Layout";
}

<h1>Welcome to the Restaurant Cuisine Viewer!</h1>
<p>@Html.ActionLink("See all Cuisine Offerings", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p>