@{
  Layout = "_Layout";
}

@model Food.Models.Restaurant;


<h2>Search Results: </h2>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RestaurantName)
  @Html.TextBoxFor(model => model.RestaurantName)

  <input type="submit" value="Search"/>
}



<p>@Html.ActionLink("Back to List", "Index")</p>




